.category {
    text-align: center;
}
#btn-category .btn { 
    transition: all 1s ease;
    transform: scale(1);
}
#btn-category .btn:hover { 
    border-radius: 0;
    transform: scale(1.5);
    color: black;
}
#btn-category .btn { border-radius: 10px }
.joke-container .jumbotron {
    background-color: yellowgreen;
}